h1
{
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div.a
{
    font-size: 20px;
    color:beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.b
{
    font-size: 20px;
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.c
{
    font-size: 20px;
    color:beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.d
{
    font-size: 20px;
    color:beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.e
{
    font-size: 20px;
    color:beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.f
{
    font-size: 20px;
    color:beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.g
{
    font-size: 20px;
    color:beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.h
{
    font-size: 20px;
    color:beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.i
{
    font-size: 20px;
    color:beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.j
{
    font-size: 20px;
    color:beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.z
{
    text-align: center;
}
