.a
{
    width:1300px;
    height:56px;
    font-size: 30px;
    font-weight: bold;
    background-color: blue;
}
.b
{
    width:1300px;
    height:56px;
    display:inline-block;
    background-color:grey;
}
.c
{
    width:1300px;
    height:56px;
    display:inline-block;
    background-color:lightblue;
}
.d
{
    width:1300px;
    height:56px;
    display:inline-block;
    background-color:grey;
}
